---
const {...offre}=Astro.props;
---

<div>
    <img src={offre.imgUrl} alt={offre.nomMaison} />
    <h2>{offre.nomMaison}</h2>
    <p>{offre.adresse}</p>
    <p>{offre.prix} €</p>
    <p>{offre.surface} m²</p>
    <p>{offre.nbChambres} chambres</p>
    <p>{offre.nbSdb} salles de bain</p>
</div>


